files=(dev/env/shell.nix rust-toolchain.toml dev/atom.toml dev/atom.lock)

SHELL="${EKA_SHELL:-shell}"

mkdir -p .direnv

watch_file "${files[@]}"

sum_files () {
  sha256sum "$@" | sha256sum | cut -d ' ' -f 1
}

sum="$(sum_files "${files[@]}")"
sum_file=".direnv/sum-$sum-$SHELL"
root=".direnv/${SHELL}"

if [[ -a "$sum_file" ]] && [[ -h "$root" ]]; then
  use nix $(nix-store -q --deriver "$root") || rm -f "$sum_file"
else
  use nix dev -A "${SHELL}" && rm -f ".direnv/sum-*-${SHELL}" && touch "$sum_file" &&
  {
    nix-store --add-root "$root" --realise $(nix-store -q --deriver "$out" || nix-instantiate dev -A "${SHELL}")
  } 2>&1 > /dev/null
fi
