files=(dev/env/shell.nix rust-toolchain.toml dev/atom.toml dev/atom.lock)

mkdir -p .direnv

watch_file "${files[@]}"

sum_files () {
  sha256sum "$@" | sha256sum | cut -d ' ' -f 1
}

sum="$(sum_files "${files[@]}")"
sum_file=".direnv/sum-$sum"

if [[ -a "$sum_file" ]] && [[ -h .direnv/shell ]]; then
  use nix $(nix-store -q --deriver .direnv/shell) || rm -f "$sum_file"
else
  use nix ./dev -A shell && rm -f .direnv/sum-* && touch "$sum_file" &&
  nix-store --add-root .direnv/shell --realise $(nix-store -q --deriver "$out" || nix-instantiate ./dev -A shell) 2>&1 > /dev/null
fi
