name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

env:
  NIX_PATH: nixpkgs=https://github.com/NixOS/nixpkgs/archive/nixos-unstable.tar.gz

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0 # full history, needed root calculation in CI
      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@v34
        with:
          nix_conf: |
            extra-experimental-features = pipe-operators
      - name: Setup Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13
      - uses: Swatinem/rust-cache@v2.8.1
      - name: Eval Devshell
        run: nix-instantiate dev --add-root shell -A shell
      - name: Check Format
        run: nix-shell shell --run "treefmt --ci"
      - name: Lint
        run: nix-shell shell --run "cargo clippy -- -D warnings"
      - name: Run Tests
        run: nix-shell shell --run "cargo test --all"
